<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/mystyle.css">
</head>
<body>

<h1 class="h1">Welcome to All for fix shop</h1>
<div class="card">
    <h2 class="h2">Drill</h2>
<!--    <img class="img" src="../static/images/drill.jpg">-->
    <img class="img" src="/images/drill.jpg">
    <p class="disc">Электрическая ударная дрель предназначена для безударного и ударного сверления отверстий в различных материалах (при использовании соответствующих сверл и буров). Производит сверление отверстий в бетоне, кирпиче, металле, дереве и гипсокартоне</p>
    <p class="h2">Price: 2300 сомов</p>

</div>


<ul>
    <#list items as item>
        <li>${item.name}</li>
    </#list>
</ul>



</body>
</html>